.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40vh 30vh 30vh;

    /* grid-template-areas: "card1 card2 card3"
                         "card4 card5 card6"; */
}

.order-card {
    margin: 20px;   
}


/* Elemento | http://localhost:4200/ */

mat-card-content img {
    width: 100px;
    margin: 100 auto;
    background-color: aqua;
  }
  