<div class="container">
  <mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile>
      <mat-card routerLink="products">
        <mat-card-title>Ordens qualitativas</mat-card-title>
        <mat-card-subtitle>Ordens qualitativas em andamento</mat-card-subtitle>
        <mat-card-content>
          <img mat-card-sm-image src="../../../assets/image/maintence-icon.png">
        </mat-card-content>
        
      </mat-card>
    </mat-grid-tile>
  
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Ordens preventivas</mat-card-title>
        <mat-card-subtitle>Ordens preventivas em andamento</mat-card-subtitle>
        <mat-card-content></mat-card-content>
      </mat-card>
    </mat-grid-tile>
  
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Ordens qualitativas</mat-card-title>
        <mat-card-subtitle>Item ainda a ser definido</mat-card-subtitle>
        <mat-card-content></mat-card-content>
      </mat-card>
    </mat-grid-tile>
  
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Card exemplo</mat-card-title>
        <mat-card-subtitle>Titulo do card exemplo</mat-card-subtitle>
        <mat-card-content></mat-card-content>
      </mat-card>
    </mat-grid-tile>
  
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Card exemplo</mat-card-title>
        <mat-card-subtitle>Titulo do card exemplo</mat-card-subtitle>
        <mat-card-content></mat-card-content>
      </mat-card>
    </mat-grid-tile>
  
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Card exemplo</mat-card-title>
        <mat-card-subtitle>Titulo do card exemplo</mat-card-subtitle>
        <mat-card-content></mat-card-content>
      </mat-card>
    </mat-grid-tile>
  
  </mat-grid-list>
  
  
  
  
  
  
  
  
  <!-- <button mat-raised-button (click)="navigateToOrdersCreate()">
      </button> -->
  
</div>