<div class="container">
    <mat-card class="order-card" tabindex="0" >
        <mat-card-title>Ordens em andamento</mat-card-title>
        <mat-card-subtitle>Te ajuda à realizar suas ordens</mat-card-subtitle>
        <mat-card-content>
          
          <img src="../../../assets/image/maintence-icon.png" alt="" routerLink="products">


        </mat-card-content>

      </mat-card>

      <mat-card class="order-card">
        <mat-card-title>Histórico</mat-card-title>
        <mat-card-subtitle>Histórico de ordens realizadas</mat-card-subtitle>
        <mat-card-content>
          
          
        </mat-card-content>

      </mat-card>

      <mat-card class="order-card">
        <mat-card-title>Ordens em andamento</mat-card-title>
        <mat-card-subtitle>Te ajuda à realizar suas ordens</mat-card-subtitle>
        <mat-card-content>
          
          
        </mat-card-content>

      </mat-card>
</div>








<!-- <button mat-raised-button (click)="navigateToOrdersCreate()">
    </button> -->
