mat-card {
    width: 240px;
    margin-bottom: 20px;
}

mat-card-content {
    display: flex;
    justify-content: center;
    background: #c2cbfc;
}

mat-card-content img {
    width: 10rem;
    height: 10rem;
}