.header {
    display: flex;
    align-items: center;
    padding-left: 0;
    background: #c9c9ce;   
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 65px;
    padding-left: 0;
    cursor: pointer;
}

.header .logo ::selection {
    margin: 30px;
}

.header .title-group {
    padding-left: 20px;
}

.header .title-group a:visited {
    color: black;
}

.header .title-group i{
    padding-right: 5px;
}

