.sidenav {
    background: #32408f;
    width: 15rem;
    padding: 1rem;
}

.sidenav a {
    color: #fff;
}

.sidenav i {
    padding-right: 0.8rem;
}

.content {
    padding: 1rem;
    background: #fff;
}